body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color : black;
}

ul {
  list-style-type: none;
}

main{
  margin:0 auto;
  min-height:100%
}

/* HEADER */


/*------- VERSION DESKTOP ------ */

@media screen and (min-device-width: 992px){

  header, main{
    margin: 0 30px;
  }

  header {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .booki_logo{
    display: flex;
  }
  
  .navbar{
    display: flex;
  }

  .navbar a{
    padding: 40px;
    text-align: center;
  }

  .navbar a:hover{
    color: #0065FC;
    border-top: solid;
  }
  
  .navbar a:focus{
    color: #0065FC;
    border-top: solid;
  }

    /* BARRE DE RECHERCHE */

  .search_bar form{
    display: flex;

  }

  .search_input{
    border: 0;
    border: solid #F2F2F2;
    border-right: 0;
  }

  .search_button{
    cursor: pointer;
    color: white;
    background-color: #0065FC;
    border: 0;
    background-size: cover;
    border-radius: 0 15px 15px 0;
  }

  .search_button:hover{

  }

  .fa-location-dot{
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
  }

  .fa-location-dot::before{
    position: relative;
    top: 20px;
    left: 20px;
  }

}

/*------- VERSION TABLETTE ------ */

@media screen and (min-device-width: 768px) and (max-device-width: 992px){

  .booki_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar a:focus{
    color: #0065FC;
    border-bottom: solid;
  }

  .navbar{
    display: flex;
    text-align: center;
  }

  .navbar a{
    padding: 40px;
    width: 100%;
  }
}

/*------- VERSION MOBILE ------ */

@media screen and (max-device-width: 768px){

  .booki_logo{
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .navbar{
    display: flex;
    text-align: center;
  }

  .navbar a{
    width: 100%;
    padding: 40px;
  }
  .navbar a:focus{
    color: #0065FC;
    border-bottom: solid;
  }

 

}

/*FOOTER*/

footer{
  background-color: #F2F2F2;
  width: 100%;
  min-width: 490px;
  position:fixed;
  bottom: 0;
}

.bottom_links{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px;
}

footer ul{
  padding-left: 0px;
  padding-right: 200px;
}